.bookCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    width: 240px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.bookCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
}

.bookCard:hover::before {
    opacity: 1;
}

.bookCard:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.bookCardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bookCardOverlay:hover {
    opacity: 1;
}

.bookDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.bookCard:hover .bookDetails {
    opacity: 1;
}

.bookCard img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bookDetails p {
    font-size: 16px;
    color: whitesmoke
}

.bookCardButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.bookCardButtons:hover~.bookCard {
    opacity: 0;
}

.bookCardButton {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.bookCardButton:hover {
    background-color: #2980b9;
}