.bookCartContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 800px;
    margin: 0 auto; */
    /* border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9; */
}

.cartItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .cartItems {
        justify-content: space-between;
    }

    .bookCartItemContainer {
        width: calc(33.33 - 20px);
        margin-bottom: 20px;
    }
}

.bookCartItemContainer {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bookCover {
    width: 255px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}



.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.cartItemImage {
    width: 80px;
    height: 100px;
    object-fit: cover;
    margin-right: 19px;
}

.cartItemTitle {
    font-size: 18px;
    font-weight: bold;
}

.cartItemPrice {
    font-size: 16px;
}

.cartItemQuantity {
    font-size: 16px;
    margin-left: 10px;
}

.totalPrice {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
}