.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navLink {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    margin-right: 10px;
}

.cartCount {
    color: red;
}

.navLink:hover {
    text-decoration: underline;
}

.cartLink {
    position: relative;
    display: inline-block;
}

.cartText {
    color: white;
}